* {font-family: 'Arimo', sans-serif;
}

@media only screen and (min-width: 800px) {
   
  .text1{
    text-align: center;
    font-size: 60px;
  }
  .text2{
    text-align: center;
    font-size: 40px;
  }
  
  .link1{
    display: block;
    background-color: rgb(0, 222, 255);
    font-size: 35px;
    border-radius: 20px;
    border:1px solid black;
    color:black;
    text-decoration: none;
    padding: 40px;
  text-align: center;
  margin:20px;
  font-weight: bold;
  text-align: center;

  }
  .link2{
    display: block;
    background-color: rgb(0, 222, 255);
    font-size: 35px;
    border-radius: 20px;
    border:1px solid black;
    color:black;
    text-decoration: none;
    padding: 40px;
  text-align: center;
  margin:20px;
  font-weight: bold;
  }
  .link3{
    display: block;
    background-color: rgb(0, 222, 255);
    font-size: 35px;
    border-radius: 20px;
    border:1px solid black;
    color:black;
    text-decoration: none;
    padding: 40px;
  text-align: center;
  margin:20px;
  font-weight: bold;
  }
  
  .footer{
    display: grid;
  grid-template-columns:1fr 1fr 1fr;
  height: 50px;
  text-align: center;
  margin:25px;
  }
  .linkedin{
    height:auto;
    width: 50px;
  }
  .emailed{
    height:auto;
    width: 50px;
    
  }
  .github{
    height:auto;
    width: 50px;
  }
  
  
  
  .link1:hover{
    color:#ffffff;
    background-color: black;
  }
  .link2:hover{
    color:#ffffff;
    background-color: black;
  }
  .link3:hover{
    color:#ffffff;
    background-color: black;
  }
 
  .borderblack{
    border: 1px solid black;
    text-decoration: none;
  }
  .dropbtn {
    background-color: rgb(0, 222, 255);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid black;
    color:black;
    border-radius: 20px;
    /* background: rgb(0, 222, 255, .3) */
  }
  
  .dropdown {
    background-color: rgb(0, 222, 255);
    display: inline-block;
    margin-left:1100px;
    border-radius: 20px;
    margin-top: 100px;
    width:auto;
    /* background: rgb(0, 222, 255, .3) */
  }
  
  .dropdown-contents {
    display: none;
    position: absolute;
    background-color: none;
    min-width: 160px;
    z-index: 1;
    /* background: rgb(0, 222, 255, .3) */
  }
  
  .dropdown-contents a {
    background-color: black;
    color: white;
    padding: 12px 16px;
    border-radius: 20px ;
    display: block;
  }
  
  .dropdown-contents a:hover {
    color: black;
    background-color: rgb(0, 222, 255);
  }
  
  .dropdown:hover .dropdown-contents {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
  }
/*////////////////Profile////////////////*/
.gridin2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.profile{
  margin-left:100px;
  font-size: 25px;
  width:500px;
}
.contained2{
  grid-template-columns: 1/2;
}
.contained3{
  grid-template-columns: 2/3;
}

.hardskills{
  text-align: center;
  font-size: 40px;
}
.listed1 > li{
  display: inline-block;
  margin: 20px;
  font-size: 30px;
  justify-content: center;
} 
 .listed2 > li{
  display: inline-block;
  margin: 20px;
  font-size: 20px;
  justify-content: center;
  font-weight: bold;
} 
 .softskills{
  font-size: 30px;
  text-align: center;
}
/* ///////////////contact///////////// */
.messageme{
  display: block;
  text-align: center;
  font-size: 50px;
  margin-top:50px;
}
.formcontainer{
  border-radius: 20px;
}
.formcontainer1{
display:grid;
grid-template-rows: 1fr repeat(5);
width:400px;
opacity: .8;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
border-radius: 20px;
margin-top:100px
}
.name{
height: 50px;
font-size: 30px;
}
.phone{
  height: 50px;
  font-size: 30px;
}
.email{
  height: 50px;
  font-size: 30px;
}
.message{
height:200px;
font-size: 35px;
}
.input{
width:100px;
margin-left:150px;
height:40px;
border-radius: 20px;
}
/*////////////////WORK//////////////*/
.workdisplay{
  display:grid;
  grid-template-rows: 1fr  ;
  height:100px;
}
.epic{
  grid-row: 0/1;
}
.mywork{
  position: absolute;
  margin-left:500px;
  font-size: 50px;
  text-align: center;
}

.image1{
  width:500px;
  height:500px;
  margin-top:50px;
  margin-right:50px;
  border-radius: 10px;
  background-color: lightblue;
}
.image2{
  width:500px;
  height:500px;
  margin-top:50px;
  margin-right:50px;
  border-radius: 10px;
}
.image3{
  width:500px;
  height:500px;
  margin-top:50px;
  margin-right:50px;
  border-radius: 10px;
}
.image4{
  width:500px;
  height:500px;
  margin-top:50px;
  margin-right:50px;
  border-radius: 10px;
}
.slidertext{
  width:500px;
  text-decoration: none;
  color:black;
  text-align: center;
}
.slidertext:hover{
  opacity: .7;
}
.anchor{
  text-decoration: none;
}
.anchor:hover{
  opacity:.9;
}









/*/////////////////////////////////////*/
 body 
 {
  width: 90%; 
  height:100%;
  margin:0em 5%;
  background-color:#8ec1da;
  background-image: url("http://vollnixx.files.wordpress.com/2013/12/clouds_real.jpg");
  background-position: center bottom;
  animation: animatedBackground 30s linear infinite; 
  /* Safari and Chrome: */
   -webkit-animation: animatedBackground 30s linear infinite;
}
@keyframes animatedBackground 
{
  from { background-position: 0 100%; }
  to { background-position: 100% 100%; }
}
@-webkit-keyframes  animatedBackground 
{
  from { background-position: 0 100%; }
  to { background-position: 100% 100%; }
} 
#content
{
  position:fixed;
  top:5em;
  height:1em;
  width:19em;
  background-color:rgba(1,1,1,0.5);
  color:white;
  padding:2em;
  border-bottom-right-radius: 5em;
  -webkit-border-bottom-right-radius: 5em;
   border-top-left-radius: 5em;
  -webkit-border-top-left-radius: 5em;
}

















/* ///////////////////////////////phones////////////////////////// */
/* display block if grids setup*/
}

  @media only screen and (max-width: 800px) { 
    
    
    .text1{
      text-align: center;
      font-size: 40px;
    }
    .text2{
      text-align: center;
      font-size: 20px;
    }
    .links{
      margin-top:15%;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 15%;
      justify-content: center;
      
    }
    .link1{
      grid-column: 1/4;
      text-align: center;
      background-color: #8ec1da;
      border-radius: 10px;
      border:1px solid black;
      color:black;
      text-decoration: none;
      height:2em;
    }
    .link2{
      grid-column: 1/4;
      text-align: center;
      background-color: #8ec1da;
      border-radius: 10px;
      border:1px solid black;
      color:black;
      text-decoration: none;
      height:2em;
    }
    .link3{
      grid-column: 1/4;
      text-align: center;
      background-color: #8ec1da;
      border-radius: 10px;
      border:1px solid black;
      color:black;
      text-decoration: none;
      height:2em;
    }
    
     
     .footer{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
      margin-top: 20%;
    }
     .linkedin{
       width:40%;
       height:auto;
     }
     .emailed{
      text-align: center;
     }


    
      .link1:hover{
        color:white;
        background-color: black;
      }
      .workprofile{
        margin-left:40px;
        margin-top:50px;
      }
      .borderblack{
        border: 1px solid black;
      }
      .dropbtn {
        
        color: white;
        padding: 16px;
        font-size: 16px;
        border: 1px solid black;
        color:black;
        border-radius: 20px;
        background: rgb(0, 222, 255, .3);
      }
      /*  */
      .dropdown {
        display: inline-block;
        margin-left:25px;
        border-radius: 20px;
        margin-top: 50px;
        background: rgb(0, 222, 255, .3);
        margin-bottom:50px;
      }
      
      .dropdown-contents {
        background-color: transparent;
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 1;
      }
      
      .dropdown-contents a {
        background-color: black;
        color: white;
        padding: 12px 16px;
        border-radius: 20px ;
        display: block;
      }
      
      .dropdown-contents a:hover {
        background-color: transparent;
        color: black;
      
      }
      
      .dropdown:hover .dropdown-contents {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: transparent;
        color: black;
        border: 1px solid black;
        border-radius: 20px;
      }
      /*////////////////Profile////////////////*/
      .profile{
        font-size: 25px;
        width:500px;
      }
      /* ///////////////contact///////////// */
     .messagediv{
       display:inline;
     }
      .messageme{
        text-align: center;
        font-size: 50px;
      }
      .formcontainer{
        border-radius: 20px;
      }
      .formcontainer1{
      display:grid;
      position: relative;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      margin-top:40%;
      width:90%;
      }
      .name{
        grid-row:1/2;
        grid-column: 1/4;
        height:6vh;
      }
      .phone{
        grid-row:2/3;
        grid-column: 1/4;
        height:6vh;
      }
      .email{
        grid-row:3/4;
        grid-column: 1/4;
        height:6vh;
      }
      .message{
        grid-row:5/6;
        grid-column: 1/4;
        height:12vh;
      }
      .input{
        grid-row:6/7;
        grid-column: 2/3;
        height:6vh;
        background-color: firebrick;
        border-radius: 10px;
      }
      /*////////////////WORK//////////////*/
      .workdisplay{
        display:grid;
        grid-template-rows: 1fr  ;
        height:100px;
      }
      .epic{
        grid-row: 0/1;
      }
      .mywork{
        position: absolute;
        margin-left:35%;
        font-size: 50px;
      }
      .image1{
        width:400px;
        height:400px;
        margin-top:50px;
        margin-right:50px;
        border-radius: 10px;
        background-color: lightblue;
      }
      .image2{
        width:400px;
        height:400px;
        margin-top:50px;
        margin-right:50px;
        border-radius: 10px;
      }
      .image3{
        width:400px;
        height:400px;
        margin-top:50px;
        margin-right:50px;
        border-radius: 10px;
      }
      .image4{
        width:400px;
        height:400px;
        margin-top:50px;
        margin-right:50px;
        border-radius: 10px;
      }
      .slidertext{
        width:350px;
        text-decoration: none;
        color:black;
        text-align: center;
      }
      .anchor{
        text-decoration: none;
      }


      /* ///////////////////////skills//////////////////// */
      .hardskills{
        text-align: center;
        font-size: 40px;
      }
      .listed1 > li{
        display: inline-block;
        margin: 50px;
        font-size: 30px;
      }
      .listed2 > li{
        display: inline-block;
        margin: 50px;
        font-size: 30px;
      }
      .softskills{
        text-align: center;
        font-size: 30px;
      }
      /*/////////////////////////////////////*/
       body 
       {
        width: 95%; 
        height:100%;
        background-color:#8ec1da;
        background-image: url("http://vollnixx.files.wordpress.com/2013/12/clouds_real.jpg");
        background-position: center bottom;
        animation: animatedBackground 30s linear infinite; 
        /* Safari and Chrome: */
         -webkit-animation: animatedBackground 30s linear infinite;
      }
      @keyframes animatedBackground 
      {
        from { background-position: 0 100%; }
        to { background-position: 100% 100%; }
      }
      @-webkit-keyframes  animatedBackground 
      {
        from { background-position: 0 100%; }
        to { background-position: 100% 100%; }
      } */
      #content
      {
        position:fixed;
        top:5em;
        height:1em;
        width:19em;
        background-color:rgba(1,1,1,0.5);
        color:white;
        padding:2em;
        border-bottom-right-radius: 5em;
        -webkit-border-bottom-right-radius: 5em;
         border-top-left-radius: 5em;
        -webkit-border-top-left-radius: 5em;
      }
  }

 